body {
  background: rgb(58, 88, 88);
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid rgb(73, 139, 139);
  filter: opacity(0.5);
}

#playerImage,
#backgroundImage,
#enemyImage {
  display: none;
}